@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
}

.container {
	padding:50px 100px;
	position:relative;
}

.container h1 {
	font-family: '국립박물관문화재단클래식B';
	font-size:1.5rem;
}
.container .day1 {
	margin:10px 0
}
.container .day1::after {
	content: "";
	display: block;
	clear: both;
}
.container .day1 > * {
	float:left;
	font-size:20px;
}
.container .day1 > h3 {
	margin-right:10px
}
.container .day1 #current {
	font-weight:600;
}

.container .years li {float:left; padding:5px 10px; border:1px solid #222; box-sizing:border-box; margin-left:10px; border-radius:7px; line-height:1rem; vertical-align: middle; transition: .5s; cursor: pointer;}
.container .years li.active {color:#fff; background:#222}
.container .years::after {content:""; display: block; clear: both;}
.container .years li:first-child {margin-left:0}
.container .years li:hover {background:#222; color:#fff}
.container .sillok-list {padding:30px 0}
.container .sillok-list .sillok-items {margin-bottom:20px;}
.container .sillok-items .days {margin-bottom:10px}
.container .sillok-items .days::after {content:""; display:block; clear: both;}
.container .sillok-items .days > span {float:left; margin-right:10px}
.container .sillok-items .days .dates {font-size:22px; color:#818181}
.container .sillok-items .days .tit {font-size:16px; height:22px; line-height:24px; vertical-align: text-bottom; font-weight:600}
.container .sillok-items .contents {line-height:1.5rem}
#counter {position: fixed;right:30px; bottom:5%; text-align:center; font-size:12px}
#counter #visits {font-size:30px; font-weight:600; padding:5px 0}
#topBtn {position: fixed; right:30px; top:5%; text-align: center; font-size:14px; border:none; background:transparent; cursor: pointer;}
.img-list {margin-bottom:15px; width:100%; display:inline-block}
.img-list li {float:left; width:23.5%; margin-left:2%}
.img-list li::after {content:""; display:block; clear:both}
.img-list li:first-child {margin-left:0}
.img-list li img {width:100%;}